@charset "UTF-8";
#forsa{
  background-image: url(/img/forsa.png);

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  padding: 80px;
}
#bahr{
  background-image: url(/img/Bahr.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  padding: 80px;
}
#ntths{
  background-image: url(/img/ntths.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0px auto;
  padding: 80px;
  box-sizing: border-box;
}
#jahz{
  background-image: url(/img/jahz.jpg);
  height: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  padding: 80px;
}
#kushk{
  background-image: url(/img/kushk.jpg);
  height: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  padding: 80px;
}

#select{
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  width: 50px;
  display: inline-block;
  font-weight: bold;
  color:rgb(15, 15, 14);
  font-family: "DIN Next LT Arabic";
  -webkit-box-shadow: 0px 3px 0px 0px #928e8e2a;
          box-shadow: 0px 3px 0px 0px #a7a5a55e;
  border: #273166;
  margin: 18px;
}

#list{
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "DIN Next LT Arabic";
  font-weight: bold;
 
}
#number{
  margin-top: 8px;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}
img{
  margin:4px;
  margin-bottom: 6px;
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

#title{
  color:#8DC63F;
  text-align: center;
  font-size: 110px;
  margin-top: 0px;
  
}
.row{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}

.Table-firstTable_table {
  
  box-shadow: 0 0 40px 0 hsla(0,0%,51%,.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 400px;
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 40px 60px;
  text-align: center;
}

.table-item-container{
  width: 28%;
  min-width: 340px;
  display: flex;
  justify-content: center;
}

.filter-container{
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
  }
}
.Table-firstTable_table:hover
 {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
          animation: color-me-in 5s;
          
}
@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: rgb(255, 255, 255);
  }
  /* You could think of as "step 2" */
  100% {
    background: hsl(195, 80%, 31%);
  }}
.Table-firstTable_table:hover >P
 {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
          color: rgb(0, 0, 0);
          
}
.Table-firstTable_table:not(:last-of-type) {
  margin-right: 3.5%;
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table:not(:last-of-type) {
    margin-right: auto;
  }
}

.Table-firstTable_table:nth-of-type(2) {
  position: relative;
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table:nth-of-type(2) h1 {
    padding-top: 8%;
  }
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table:nth-of-type(2):before {
    left: 10px;
    width: 45px;
    height: 45px;
    top: -10px;
    padding-top: 13px;
  }
}

@media screen and (max-width: 480px) {
  .Table-firstTable_table:nth-of-type(2):before {
    font-size: 0.8em;
  }
}

.Table-firstTable_table:nth-of-type(2):hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.Table-firstTable_table__header {
  margin-top: 4px;
  font-size: 1.4em;
  padding: 10px 0px;
  
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1068px) {
  .Table-firstTable_table__header {
    font-size: 1.45em;
  }
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table__header {
    padding: 0px;
    border-bottom: none;
    float: left;
    width: 33%;
    padding-top: 3%;
    padding-bottom: 2%;
  }
}

@media screen and (max-width: 610px) {
  .Table-firstTable_table__header {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 480px) {
  .Table-firstTable_table__header {
    float: none;
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
}

.Table-firstTable_table__P {
  font-size: .8em;
  margin-top: 4px;
  padding: 30px 0px;
  width: 120px;
  border-bottom: 2px solid #cccccc;
  line-height: 0.2;
  color: #8DC63F;
}

@media screen and (max-width: 1068px) {
  .Table-firstTable_table__P {
    font-size: 2.8em;
  }
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table__P {
    border-bottom: none;
    padding: 0;
    float: left;
    clear: left;
    width: 33%;
  }
}

@media screen and (max-width: 610px) {
  .Table-firstTable_table__P {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 480px) {
  .Table-firstTable_table__P {
    float: none;
    width: 100%;
    font-size: 3em;
    margin-bottom: 10px;
  }
}






@media screen and (max-width: 1068px) {
  .Table-firstTable_table__options {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table__options {
    border-bottom: none;
    padding: 0;
    margin-right: 10%;
  }
}

@media screen and (max-width: 610px) {
  .Table-firstTable_table__options {
    font-size: 0.7em;
    margin-right: 8%;
  }
}

@media screen and (max-width: 480px) {
  .Table-firstTable_table__options {
    font-size: 1.3em;
    margin-right: none;
    margin-bottom: 10px;
  }
}

.Table-firstTable_table__options > li {
  padding: 8px 0px;
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table__options > li {
    text-align: left;
  }
}

@media screen and (max-width: 610px) {
  .Table-firstTable_table__options > li {
    padding: 5px 0;
  }
}

@media screen and (max-width: 480px) {
  .Table-firstTable_table__options > li {
    text-align: center;
  }
}




@media screen and (max-width: 1068px) {
  .Table-firstTable_table__options > li:before {
    width: 14px;
    height: 14px;
    padding: 1.5px;
    
  }
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table__options > li:before {
    width: 12px;
    height: 12px;
  }
}


@media screen and (max-width: 1068px) {
  .Table-firstTable_table__getstart {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 767px) {
  .Table-firstTable_table__getstart {
    margin-top: 0;
  }
}

@media screen and (max-width: 610px) {
  .Table-firstTable_table__getstart {
    font-size: 0.9em;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .Table-firstTable_table__getstart {
    font-size: 1em;
    width: 50%;
    margin: 10px auto;
  }
}



@media screen and (max-width: 960px) {
  body {
    font-size: 80%;
  }
}
@media screen and (max-width: 776px) {
  body {
    font-size: 70%;
  }
}
@media screen and (max-width: 496px) {
  body {
    font-size: 50%;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 40%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src:          url("../fonts/DINNextLTArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


/* Nav */
nav {
  border-radius: 2%;
  width: 200px;
  height: 75px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 hsla(0,0%,51%,.2);
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  position: absolute;
}

.show{
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

nav:target {
	z-index: 1;
}
nav:target ~ .content .contentOverlay {
	display: contents;
}
.material-icons{
  margin-right: 1900px;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0);
  height: 54px;
  width: 42px;
  max-width: 320px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
}
